@font-face {
	font-family: 'Söhne VF';
	font-display: swap;
	font-style:  normal;
	font-weight: 400;
	src: url("/assets/frappe/css/fonts/sohne/sohne.ttf") format("ttf");
}
@font-face {
	font-family: 'Söhne VF';
	font-display: swap;
	font-style:  normal;
	font-weight: 500;
	src: url("/assets/frappe/css/fonts/sohne/sohne.ttf") format("ttf");
}

@font-face {
	font-family: 'Söhne VF';
	font-display: swap;
	font-style:  normal;
	font-weight: 600;
	src: url("/assets/frappe/css/fonts/sohne/sohne.ttf") format("ttf");
}