@font-face {
	font-family: 'GothamUltra';
	font-display: swap;
	font-style:  normal;
	font-weight: 100;
	src: url("/assets/frappe/css/fonts/gotham/GothamUltra.woff2") format("woff2");
}
@font-face {
	font-family: 'GothamLight';
	font-display: swap;
	font-style:  italic;
	font-weight: 400;
	src: url("/assets/frappe/css/fonts/gotham/GothamLight.woff2") format("woff2");
}
@font-face {
	font-family: 'GothamMedium';
	font-display: swap;
	font-style:  normal;
	font-weight: 500;
	src: url("/assets/frappe/css/fonts/gotham/GothamMedium.woff2") format("woff2");
}
@font-face {
	font-family: 'GothamBold';
	font-display: swap;
	font-style:  normal;
	font-weight: 600;
	src: url("/assets/frappe/css/fonts/gotham/GothamBold.woff2") format("woff2");
}